body {
  background-color: #fff3dd;
}
.back {
  background-color: #294464;
  border-radius: 30px;
  width: 70px;
}
.back:hover {
  background-color: #002046;
  color: #fff;
}

.back:active {
  transform: scale(0.95);
}

h1 {
  margin-bottom: 0px;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fe3f23;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  /*font-weight: bold;*/
}

.photo {
  color: #fe3f23;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.photo img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: 4px solid #002046bf;
}

.nombre {
  display: flex;
  flex: 0.7;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #fff;
  color: #002046bf;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: bolder;
  margin-top: 10px;
  width: 258px;
  height: 49px;
  border-radius: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #002046;
  color: #fff;
}

button:active {
  transform: scale(0.95);
}
