body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #294464;
    /* Color de fondo de la página */
}

.CONGRATS {
    align-items: center;
}

.rectangulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 450px;
    background-color: #ffffff;
    /* Color del rectángulo blanco */
    border: 2px solid #000000;
    /* Borde negro de 2 píxeles */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

.save {
    background-color: FF4B3D;
}

.rectangulo2 {
    border-radius: 50px;
    width: 300px;
    height: 25px;
    border: 2px solid #000000;
    /* Borde negro de 2 píxeles */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    /* Establecer posición relativa */
    top: 290px;
    /* Ajustar posición vertical para superponer */
    right: 100px;
}

button {
    font-size: 22px;
    border-radius: 45px;
    margin-left: 10%;
    margin-top: 10%;
    height: 50px;
    width: 250px;
    background-color: #FF4B3D;
    color: azure;
    border-color: none;
    font-family: 'Poppins', sans-serif;
}